.hidden {
	display: none;
}

.modalContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
}

.modalContainer .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(55,55,55,0.8);
    z-index: 99;
}

.modalContainer .customModal{
    background-color: #fff;
    min-width: 400px;
    min-height: 200px;
    padding: 15px;
    box-sizing: border-box;

    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    z-index: 100;
}

.spheres
{
    display: block;
    background: green;
    border-radius: 100%;
    height: 13px;
    width: 13px;
    vertical-align: bottom;
    display: inline-block;
    margin: 2px;
    margin-top: 75%;
}

#calendar
{
    background-color:white;
    width: 1000px;
    height:400px;
}