.form-horizontal{
	position: relative;
	width: 110%;
	margin-top: -75px;
}

.imagenPerfil{
	margin-left: 468px;	
	margin-bottom: 20px;
}

#contentImagenPerfil{
	width: 150px;
	height: 150px;
	border-radius: 50%;
	/*background-image: url("http://reservasfernandovi.esy.es/assets/imagenes/perfil/default.jpg");*/
	
	box-shadow: 8px 5px 8px 3px #888888;
	margin-left: 120px;	
	margin-top: -35px;
}

#avatarUsuario{
	width: 150px;
	height: 150px;
	border-radius: 50%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;	
}

.img-circle{
	margin-left: 190px;	
	margin-top: -60px;
	margin-bottom: 45px;
}

.botonPerfil{
	float:right;
	margin-top: 15px;	
}

.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background-color: #2c3e50;
  cursor: inherit;
  display: block;
}
input[readonly] {
  background-color: white !important;
  cursor: text !important;
  width: 40%;
}

.tamanio{
	width: 32.3%;
	padding-left: 15px;	
}

.colorFondoBoton{
	background-color: #2c3e50;	
}

.letraBoton{
	color: white;	
}