
.hidden {
	display: none;
}

.modalContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
}

.modalContainer .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(55,55,55,0.8);
    z-index: 99;
}

.modalContainer .customModal{
    background-color: #fff;
    min-width: 400px;
    min-height: 200px;
    padding: 15px;
    box-sizing: border-box;

    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    z-index: 100;
}

.spheres
{
    display: block;
    background: black;
    border-radius: 100%;
    height: 15px;
    width: 15px;
    vertical-align: bottom;
    display: inline-block;
    margin: 5px;
    margin-top: 75%;
}

.spheres booked
{
    background: red;
}

#calendar
{
    background-color:white;
    width: 900px;
    height:600px;
}