
.hidden {
    display: none;
}

.modalContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
}

.modalContainer .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(55,55,55,0.8);
    z-index: 99;
}

.modalContainer .customModal{
    background-color: #fff;
    min-width: 400px;
    min-height: 200px;
    padding: 15px;
    box-sizing: border-box;

    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    z-index: 100;
}

.spheres
{
    display: block;
    background: #24963b;
    border-radius: 100%;
    height: 13px;
    width: 13px;
    vertical-align: bottom;
    display: inline-block;
    margin-left: 7px;
    margin-top: 77%;
}

.booked
{
    background-color: #ba1d30;
}

#calendar
{
    background-color:white;
    width: 100%;
    height:60%;
}

.fc-day-header{
    border: 2px solid #2c3e50;
    background-color: #2c3e50;
    color: white;
    font-family: sans-serif;
}

.fc-ltr .fc-basic-view .fc-day-number {
    color: #2c3e50;
    font-family: sans-serif;
    font-weight: 700;
    border-right: 1px solid #4a6578;
    border-top: 1px solid #4a6578;
}
.fc-body{
    border: 1px solid #4a6578;
}

.activeDay
{
    background-color: rgba(255, 251, 96, 1);
}
.fc-content {
    background-color: rgba(255, 251, 96, 1);
    text-align:center;
    color: #2c3e50;
    font-family: sans-serif;
    font-weight: 700;
}

#datepicker{
    padding:5px;
}

.pistaBaloncesto{
    background-image: url("http://reservasfernandovi.esy.es/assets/imagenes/reserva/pista-baloncesto.png");
    background-repeat:no-repeat;
    background-size: cover;
    height: 100%;
    left:0;
}

.pistaFutbol{
    background-image: url("http://reservasfernandovi.esy.es/assets/imagenes/reserva/pista-football.png");
    background-repeat:no-repeat;
    background-size: cover;
    height: 100%;
    left:0;
}

.pistaVoleibol{
    background-image: url("http://reservasfernandovi.esy.es/assets/imagenes/reserva/pista-voleibol.png");
    background-repeat:no-repeat;
    background-size: cover;
    height: 100%;
    left:0;
}
.containerPista{
    height: 200px;
    overflow:hidden;
}

#pistade{
    color:black;
}

.ui-datepicker {
    background-color: #323232;
    border: 1px solid #66AFE9;
    border-radius: 4px;
    box-shadow: 0 0 8px rgba(102,175,233,.6);
    display: none;
    margin-top: 4px;
    padding: 10px;
    width: 240px;
}
.ui-datepicker a,
.ui-datepicker a:hover {
    text-decoration: none;
}
.ui-datepicker a:hover,
.ui-datepicker td:hover a {
    color: #2A6496;
    -webkit-transition: color 0.1s ease-in-out;
    -moz-transition: color 0.1s ease-in-out;
    -o-transition: color 0.1s ease-in-out;
    transition: color 0.1s ease-in-out;
}
.ui-datepicker .ui-datepicker-header {
    margin-bottom: 4px;
    text-align: center;
}
.ui-datepicker .ui-datepicker-title {
    font-weight: 700;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
    cursor: default;
    font-family: 'Glyphicons Halflings';
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    height: 20px;
    line-height: 1;
    margin-top: 2px;
    width: 30px;
}
.ui-datepicker .ui-datepicker-prev {
    float: left;
    text-align: left;
}
.ui-datepicker .ui-datepicker-next {
    float: right;
    text-align: right;
}
.ui-datepicker .ui-datepicker-prev:before {
    content: "\e079";
}
.ui-datepicker .ui-datepicker-next:before {
    content: "\e080";
}
.ui-datepicker .ui-icon {
    display: none;
}
.ui-datepicker .ui-datepicker-calendar {
    table-layout: fixed;
    width: 100%;
}
.ui-datepicker .ui-datepicker-calendar th,
.ui-datepicker .ui-datepicker-calendar td {
    text-align: center;
    padding: 4px 0;
}
.ui-datepicker .ui-datepicker-calendar td {
    border-radius: 4px;
    -webkit-transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
    -moz-transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
    -o-transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
    transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
}
.ui-datepicker .ui-datepicker-calendar td:hover {
    background-color: #eee;
    cursor: pointer;
}
.ui-datepicker .ui-datepicker-calendar td a {
    text-decoration: none;
}
.ui-datepicker .ui-datepicker-current-day {
    background-color: #4289cc;
}
.ui-datepicker .ui-datepicker-current-day a {
    color: #fff
}
.ui-datepicker .ui-datepicker-calendar .ui-datepicker-unselectable:hover {
    background-color: #fff;
    cursor: default;
}

.containerLogo{
    background-image: url("http://reservasfernandovi.esy.es/assets/imagenes/pluma.png");
    background-size:contain;
}
section #registro{
    padding: 0;
}